<div class="aboutWrapper">
  <div class="aboutContent">
    <h2>about</h2>
    <div class="greeting">Hello friends,</div>
    <p><!--
    -->My name is Constance Wang and I’m a rising sophomore in <!--
    --><a target="_blank" href="http://cg.cis.upenn.edu/dmd.html">Digital Media Design</a><!--
    --> at the University of Pennsylvania, learning about math, coding, and computer graphics. I blog about building apps and creating a e s t h e t i c designs.<!--
    --></p>
    <p>Currently seeking a summer 2021 internship!</p>
    <div class="buttonLinks">
      <a href="../../../assets/ConstanceWangResume.pdf"
      target="_blank"
      class="resume">
      RESUME
      </a>
      <div class="socialMedia">
        <a href="mailto:conswang@seas.upenn.edu"
          [inlineSVG]="'../../../assets/email.svg'">
        </a>
        <a href="https://www.linkedin.com/in/conswang/"
          target="_blank"
          [inlineSVG]="'../../../assets/linkedin.svg'">
        </a>
        <a href="https://github.com/conswang"
          target="_blank"
          [inlineSVG]="'../../../assets/github.svg'">
        </a>
      </div>
    </div>
  </div>
</div>