<div class="navIconWrapper">
  <div id="navIcon"
    (click)="toggleNav()"
    [ngClass]="{ open: showNav }">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="navWrapper" [ngClass]="{ overlay: showNav }">
  <nav>
    <ul>
      <li>
        <a href="#home">HOME</a>
      </li>
      <li>
        <a href="#about">ABOUT</a>
      </li>
      <li>
        <a href="#projects">PROJECTS</a>
      </li>
      <li>
        <a routerLink="/blog">BLOG</a>
      </li>
    </ul>
  </nav>
</div>