@import '../variables.scss';

.backgroundImage {
  background-color: $lava-light;
  background-image: url("../assets/smiley.svg");
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: 50%;
  background-position: bottom 40% right 20%;
  background-repeat: no-repeat;
  z-index: -1;
  @media only screen and (max-width: $large) {
    background-size: 100%;
    background-position: bottom 30%;
  }
  @media only screen and (max-width: $large) and (orientation: landscape) {
    background-size: 60%;
    background-position: bottom 40% right 30%;
  }
}