// global colour variables
$lava-ash: #01051E;
$lava-medium-ash: #212438;
$lava-light: #BFC5E8;
$lava-blue: #01436C;
$lava-smoke: #6F5180;
$lava-pink: #EA5C58;
$lava-red: #D91100;
$lava-orange: #FE3F00;
$lava-yellow: #FFA007;