@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

body {
  background-color: $lava-light;
}

h2 {
  color: $lava-ash;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  text-align: center;  
}

p {
  color: $lava-ash;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}