@import "./reset.css";
@import "./variables.scss";
@import "./assets/fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  /*-----Prevents iPhone from resizing in landscape mode -----*/
  -webkit-text-size-adjust: none; 
  scroll-behavior: smooth;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

body {
  background-color: $lava-light;
  background-image: url("./assets/smiley.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom 40% right 20%;
  background-attachment: fixed;
  @media only screen and (max-width: $large) {
    background-size: 100%;
    background-position: bottom 30%;
  }
  @media only screen and (max-width: $large) and (orientation: landscape) {
    background-size: 60%;
    background-position: bottom 40% right 30%;
  }
}

::selection {
  background: $lava-red;
  color: $lava-light;
}

::-moz-selection {
  background: $lava-red;
  color: $lava-light;
}

h2 {
  color: $lava-ash;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 112px;
  text-align: center;
  
  @media only screen and (max-width: $large) {
    font-size: 64px;
    line-height: 120px;
  }

  @media only screen and (max-width: $small) {
    font-size: 48px;
    line-height: 56px;
  }

  @media only screen and (max-width: $xsmall) {
    font-size: 42px;
  }
}

a {
  color: $lava-magenta;
  text-decoration: underline;
  transition: 0.5s;
}

a:hover, a:visited:hover {
  color: $lava-pink;
  text-decoration: none;
}

a:visited {
  color: $lava-red;
}