@import '../../../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.excerptsContainer {
  
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  align-items: center;
  justify-items: center;
  
  padding: 1rem; 
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
