<h2>projects</h2>
<div class="excerptsContainer">
  <app-project-excerpt
    title="Cheat Checker"
    description="tool for students and instructors to detect plagiarism"
    imgUrl="../../../../assets/cheatchecker.png"
    link="https://github.com/conswang/350S20-12">
  </app-project-excerpt>
  <app-project-excerpt
    title="Guess Who? Infinite"
    description="mintbean game dev hackathon project - best ui/ux design"
    imgUrl="../../../../assets/guesswho.png"
    link="https://guess-who-infinite-client.herokuapp.com/">
  </app-project-excerpt>
  <app-project-excerpt
    title="Work Space Sleeping Place"
    description="3d environment model, made with autodesk maya"
    imgUrl="../../../../assets/workspacesleepingplace.PNG"
    link="https://www.instagram.com/p/CAODm1rpwa7/">
  </app-project-excerpt>
  <app-project-excerpt
    title="conswang"
    description="repo for personal website, made with angular and wordpress"
    imgUrl="../../../../assets/site-title-rough.png"
    link="https://github.com/conswang/personal-website">
  </app-project-excerpt>
</div>